.brazilPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 20px 20px 0 20px;

  &__map{
      height: 100%;
  }
}

.brazilPageEntire {
  display: flex;
  align-items: center;
  justify-content: center;
}

