.sidebar_item {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  text-decoration: none; 

  &__icon {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
