.brazilStats {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__content{
    width: 80%;
  }

  &__header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &__return{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__clearDateButton {
    margin: 8px;
    color: white;
    cursor: pointer;
  }

  &__data {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  &__form {
    margin: 12px 0 20px;
    display: flex;
    align-items: flex-end;

    &__date {
      color: white;

      input{
        max-width: min-content;
      }

      label,
      input,
      button,
      ::before,
      ::after {
        color: white !important;
        border-color: white !important;
        font-size: 12px;
      }

      label{
        font-size: 14px;
        white-space: nowrap;
        text-overflow: show;
      }

      input[type='date']::-webkit-inner-spin-button,
      input[type='date']::-webkit-calendar-picker-indicator {
        filter: invert(1);
        height: 16px;
      }
    }
  }
}
