.genericTable {
  width: 100%;

  &__switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__table {
    margin-right: -16px;
    max-height: 500px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar{
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      width: 4px;
      border-left: 3px solid rgba(#232f34, 0.5);
    }
  }

  &__headerText {
    margin-right: 4px;
    padding-left: 0 !important;
  }

  table {
    width: 100%;
  }

  th {
    position: sticky;
    top: 0;
    text-align: left;
    background-color: #232f34;
    user-select: none;
    cursor: pointer;
    padding: 10px 0;

    span {
      padding-left: 10px;
      display: flex;
      align-items: flex-end;
    }
  }

  td {
    padding: 5px 0;

    span {
      padding-left: 10px;
    }
  }
}

.noDataAlert{
  text-align: center;
  width: 100%;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 4px;
  }
}
