.stateStats {
  padding-left: 20px;
  color: white;
  height: 100%;

  h2 {
    margin-top: 0 !important;
  }

  &__return{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__data {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr;

    :nth-child(even) {
      text-align: end;
    }
  }

  &__form {
    margin: 12px 0 20px;
    width: 100%;

    &__date {
      color: white;

      input{
        max-width: min-content;
      }

      label,
      input,
      button,
      ::before,
      ::after {
        color: white !important;
        border-color: white !important;
        font-size: 12px;
      }

      label{
        font-size: 16px;
        white-space: nowrap;
        text-overflow: show;
      }

      input[type='date']::-webkit-inner-spin-button,
      input[type='date']::-webkit-calendar-picker-indicator {
        filter: invert(1);
        height: 16px;
      }
    }
  }
}
