html, body {
  height: 100%;
  overflow: hidden;
}

.body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.content {
  background-color: #344955;
}
