.home {
  display: grid;
  height: 100vh;
  background-color: transparent;
  color: white;

  grid-template-rows: min-content 1fr min-content;

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: 20px;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: ease;

    &__inverse {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      transition: ease 1s;
    }

    &__content {
      cursor: pointer;
      display: flex;
      align-items: flex-end;

      span {
        margin-right: 4px;
      }
    }
  }
}
