.brazilMap {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: left;
  align-items: flex-end;
  height: 100%;
  padding-left: 10px;

  &__map{
      transition-delay: 1s;
  }
}

.brazilMapEntire {
  display: flex;
  align-items: center;
  justify-content: center;
}

